html {
  background-color: aliceblue;
}

body {
  background-color: white;
  border-radius: 5px;
  border: 2px solid black;
  margin: auto;
  margin-bottom: 25px;
  width: 600px;
  padding: 50px;
}

img {
  width: 400px;
}

button {
  margin: 10px auto;
  display: block;
}

#ImgP {
  text-align: center;
}
